body{
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background-color: #d9d9d9;
  padding: 0;
  margin: 0;
  ul,li,a{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
  }
}
main{
  background-color: white;
  height: 100vh;
  width: 800px;
  margin: 0 auto;
}

header{
  max-width: 800px;
  height: 100px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  border-bottom: 2px solid teal;
  .nav-left{
    height: 100%;
    width: 36px;
    .burgers{
      transform: scale(3) translate(20px, 12px);
      align-items:center;
      padding: 5px;
      height: 16px;
      width: 16px;
      cursor: pointer;
      .burger{
        background-color: black;
        border-radius: 1px;
        width: 100%;
        height: 2px;
      }
      li{
        transition: .5s;
      }
      li:nth-of-type(2){
        margin-top: 3px;
      }
      li:nth-of-type(3){
        margin-top: 3px;
      }
      &.active{
        li:nth-of-type(1){
          transform:translate(0, 4px) rotate(45deg);
        }
        li:nth-of-type(2){
          opacity: 0;
        }
        li:nth-of-type(3){
          transform:translate(0, -6px) rotate(-45deg);
        }
      }
    }
  }
  .logo{
    font-size: 60px;
    line-height: 100px;
  }
  .nav-right{
    transform: scale(3) translate(-15px, 40px);
    font-size: 26px;
    line-height: 26px;
    margin-right: 5px;
  }
}

.nav_back{
  position:absolute;
  z-index: 1;
  width: 0;
  height: 100%;
  top:100px;
  background-color: rgba(0,0,0,0.3);
  &.active{
    width: 800px;
  }
}
.nav_menu{
  opacity: 0;
  position: relative;
  z-index: 2;
  background-color: teal;
  color: white;
  width: 0px;
  height: 100%;
  transition: .5s;
  ul{
    padding: 20px 40px;
    position: relative;
    z-index: 9999;
    li{
      font-size: 40px;
      padding: 5px 0;
    }
  }
  &.active{
    opacity: 1;
    width: 400px;
  }
}